// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ5424 RDP466 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) 2022-2024 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;

#include "ipq5424-rdp-common.dtsi"
#include "ipq5424-default-memory.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ5424 RDP466";
	compatible = "qcom,ipq5424-rdp466", "qcom,ipq5424";

	soc@0 {
		qupv3: geniqup@1ac0000 {

			spi0: spi@1a90000 {
				pinctrl-0 = <&qup_spi0_default>;
				pinctrl-names = "default";
				status = "okay";

				flash@0 {
					compatible = "spansion,s25fs128s1", "jedec,spi-nor";
					#address-cells = <1>;
					#size-cells = <1>;
					reg = <0>;
					spi-max-frequency = <50000000>;
				};
			};
		};

		leds {
			compatible = "gpio-leds";
			pinctrl-0 = <&gpio_leds_default>;
			pinctrl-names = "default";

			led-0 {
				color = <LED_COLOR_ID_GREEN>;
				function = LED_FUNCTION_WLAN;
				gpios = <&tlmm 41 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "phy0tx";
				default-state = "off";
			};
		};

		wsi: wsi {
			id = <0>;
			num_chip = <3>;
			chip_info = <0 2 1 2>,
				    <1 2 2 0>,
				    <2 2 0 1>;
			status = "okay";
		};
	};
};

&qpic_bam {
	status = "okay";
};

&qpic_nand {
	status = "okay";
};

&pcie2_phy {
	status = "okay";
};

&pcie2 {
	status = "okay";

	pcie2_rp {
		reg = <0 0 0 0 0>;

		qcom,mhi@0 {
			reg = <0 0 0 0 0>;
			memory-region = <&qcn9224_pcie2>, <&mhi_region2>;
			qcom,board_id = <0x15>;
			qcom,wsi = <&wsi>;
			qcom,wsi_index = <1>;
		};
	};
};

&pcie3_phy {
	status = "okay";
};

&pcie3 {
	status = "okay";

	pcie3_rp {
		reg = <0 0 0 0 0>;

		qcom,mhi@0 {
			reg = <0 0 0 0 0>;
			memory-region = <&qcn9224_pcie3>, <&mhi_region3>;
			qcom,board_id = <0x12>;
			qcom,wsi = <&wsi>;
			qcom,wsi_index = <2>;
		};
	};
};

&qusb_phy_1 {
	status = "okay";
};

&usb2 {
	status = "okay";
};

&qusb_phy_0 {
	status = "okay";
};

&ssphy_0 {
	status = "okay";
};

&usb3 {
	status = "okay";
};

&q6_region {
	status = "okay";
};

&q6v5_wcss {
	status = "okay";
};

&qcn9224_pcie2 {
	status = "okay";
};

&qcn9224_pcie3 {
	status = "okay";
};

#if defined(__MHI_BUS_RESERVED_DMA_POOL__)
&mhi_region2 {
	status = "okay";
};

&mhi_region3 {
	status = "okay";
};
#endif

&tlmm {
	gpio_leds_default: gpio-leds-default-state {
		pins = "gpio41";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-down;
	};
};

&mlo_global_mem0 {
        size = <0x0 0x1200000>;
        status = "okay";
};

&wifi0 {
	qcom,multipd_arch;
	qcom,rproc = <&q6_wcss_pd1>;
	qcom,rproc_rpd = <&q6v5_wcss>;
	qcom,userpd-subsys-name = "q6v5_wcss_userpd1";
	qcom,tgt-mem-mode = <0>;
	qcom,bdf-addr = <0x8B500000 0x8B500000 0x8B500000 0x0 0x0 0x0>;
	qcom,caldb-addr = <0x8D500000 0x8D500000 0x0 0x0 0x0 0x0>;
	qcom,caldb-size = <0x600000>;
	memory-region = <&q6_ipq5424_data>;
	qcom,wsi = <&wsi>;
	qcom,wsi_index = <0>;
	qcom,board_id = <0x10>;
	hw_link_id = <0 0>;
	status = "okay";
};

&wifi3 {
	hremote_node = <&qcn9224_pcie2>;
	board_id = <0x15>;
	hw_link_id = <1 0>;
	status = "okay";
};

&wifi4 {
	hremote_node = <&qcn9224_pcie3>;
	board_id = <0x012>;
	hw_link_id = <2 0>;
	status = "okay";
};
