// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ5424 RDP464 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) 2022-2024 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;

#include "ipq5424-rdp-common.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ5424 RDP464";
	compatible = "qcom,ipq5424-rdp464", "qcom,ipq5424";

	soc@0 {
		qupv3: geniqup@1ac0000 {

			i2c0: i2c@1a88000 {
				pinctrl-0 = <&qup_i2c0_default>;
				pinctrl-names = "default";
				status = "disabled";
			};

			i2c1: i2c@1a8c000 {
				pinctrl-0 = <&qup_i2c1_default>;
				pinctrl-names = "default";
				status = "okay";
			};

			spi0: spi@1a90000 {
				pinctrl-0 = <&qup_spi0_default>;
				pinctrl-names = "default";
				status = "okay";

				flash@0 {
					compatible = "spansion,s25fs128s1", "jedec,spi-nor";
					#address-cells = <1>;
					#size-cells = <1>;
					reg = <0>;
					spi-max-frequency = <50000000>;
				};
			};

			/delete-node/ spi@1a94000;

			i2c2: i2c@1a94000 {
				compatible = "qcom,geni-i2c";
				reg = <0x1a94000 0x4000>;
				/* i2c2 shares spi1 clock, so use spi1_clk as per gcc driver */
				clocks = <&gcc GCC_QUPV3_SPI1_CLK>;
				clock-names = "se";
				clock-frequency = <400000>;
				interrupts = <GIC_SPI 344 IRQ_TYPE_LEVEL_HIGH>;
				pinctrl-0 = <&qup_i2c2_default>;
				pinctrl-names = "default";
				status = "okay";
			};
		};

		leds {
			compatible = "gpio-leds";
			pinctrl-0 = <&gpio_leds_default>;
			pinctrl-names = "default";

			led-0 {
				color = <LED_COLOR_ID_GREEN>;
				function = LED_FUNCTION_WLAN;
				gpios = <&tlmm 41 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "phy0tx";
				default-state = "off";
			};
		};
	};
};

&qpic_bam {
	status = "okay";
};

&qpic_nand {
	status = "okay";
};

&sdhc {
	max-frequency = <192000000>;
	bus-width = <4>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	non-removable;
	pinctrl-0 = <&sdc_default_state>;
	pinctrl-names = "default";
	status = "disabled";
};

&pcie0_phy {
	status = "okay";
};

&pcie0 {
	status = "okay";

	pcie0_rp {
		reg = <0 0 0 0 0>;

		qcom,mhi@0 {
			reg = <0 0 0 0 0>;
		};
	};
};

&pcie1_phy {
	status = "okay";
};

&pcie1 {
	status = "okay";

	pcie1_rp {
		reg = <0 0 0 0 0>;

		qcom,mhi@0 {
			reg = <0 0 0 0 0>;
		};
	};
};

&pcie2_phy {
	status = "okay";
};

&pcie2 {
	status = "okay";

	pcie2_rp {
		reg = <0 0 0 0 0>;

		qcom,mhi@0 {
			reg = <0 0 0 0 0>;
		};
	};
};

&pcie3_phy {
	status = "okay";
};

&pcie3 {
	status = "okay";

	pcie3_rp {
		reg = <0 0 0 0 0>;

		qcom,mhi@0 {
			reg = <0 0 0 0 0>;
		};
	};
};

&qusb_phy_1 {
	status = "okay";
};

&usb2 {
	status = "okay";
};

&qusb_phy_0 {
	status = "okay";
};

&ssphy_0 {
	status = "okay";
};

&usb3 {
	status = "okay";
};

&q6_region {
	status = "okay";
};

&q6v5_wcss {
	status = "okay";
};

&tlmm {
	qup_i2c2_default: qup-i2c2-default-state {
		qup_i2c2_scl {
			pins = "gpio47";
			/* i2c2 shares spi1, so map spi1_miso function as per pinctrl driver */
			function = "spi1_miso";
			drive-strength = <8>;
			bias-disable;
		};

		qup_i2c2_sda {
			pins = "gpio48";
			/* i2c2 shares spi1, so map spi1_mosi function as per pinctrl driver */
			function = "spi1_mosi";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	gpio_leds_default: gpio-leds-default-state {
		pins = "gpio41";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-down;
	};
};
