// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ5210 RDP501 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "ipq5210-rdp-common.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ5210 RDP501";
	compatible = "qcom,ipq5210-rdp501", "qcom,ipq5210";
};
