// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ5210 RDP500 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "ipq5210-rdp-common.dtsi"
#include "ipq5210-default-memory.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ5210 RDP500";
	compatible = "qcom,ipq5210-rdp500", "qcom,ipq5210";
};

&nsscc {
	assigned-clocks = <&nsscc NSS_CC_EPHY_RX_CLK_SRC>,
			  <&nsscc NSS_CC_EPHY_TX_CLK_SRC>;
	assigned-clock-parents = <&nsscc NSS_CC_PORT5_RX_DIV_CLK_SRC>,
				 <&nsscc NSS_CC_PORT5_TX_DIV_CLK_SRC>;
};

&tlmm {
	pcie0_default_state: pcie0-default-state {
		pins = "gpio32";
		function = "gpio";
		drive-strength = <6>;
		bias-pull-down;
		output-low;
	};
};

&pcie0_phy {
	status = "disabled";
};

&pcie0 {
	pinctrl-0 = <&pcie0_default_state>;
	perst-gpio = <&tlmm 32 GPIO_ACTIVE_LOW>;
	status = "disabled";

	pcie0_rp {
		reg = <0 0 0 0 0>;
		qcom,mhi@0 {
			reg = <0 0 0 0 0>;
			memory-region = <&qcn9224_pcie0>, <&mlo_global_mem0>;
			memory-region-names = "host-ddr-mem", "mlo-global-mem";
			qcom,board_id = <0x1041>;
			status = "okay";
			qcom,wsi-controller;
			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;

					wifi0_wsi_tx: endpoint {
						remote-endpoint = <&wifi0_wsi_rx>;
					};
				};

				port@1 {
					reg = <1>;
					wifi0_wsi_rx: endpoint {
						remote-endpoint = <&wifi0_wsi_tx>;
					};
				};
			};
		};
	};
};

&pcie1_phy {
	status = "disabled";
};

&pcie1 {
	status = "disabled";
};

&qcn9224_pcie0 {
	status = "okay";
};

&mlo_global_mem0 {
	status = "okay";
};

&spi0 {
	status = "disabled";
};

&qpic_bam {
	status = "disabled";
};

&qpic_nand {
	status = "disabled";
};

&qusb_phy_0 {
	status = "disabled";
};

&ssphy_0 {
	status = "disabled";
};

&usb3 {
	status = "disabled";
};

&uart1 {
	status = "okay";
};
