// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ5210 RDP board common device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "ipq5210.dtsi"

/ {
	aliases {
		serial0 = &uart1;
	};

	chosen {
		stdout-path = "serial0";
	};

	soc@0 {
		qupv3: geniqup@1ac0000 {
			status = "okay";

			uart1: serial@1a84000 {
				pinctrl-0 = <&qup_uart1_default>;
				pinctrl-names = "default";
				status = "okay";
			};

			spi0: spi@1a80000 {
				pinctrl-0 = <&qup_spi0_default>;
				pinctrl-names = "default";
				status = "okay";

				flash@0 {
					compatible = "spansion,s25fs128s1", "jedec,spi-nor";
					#address-cells = <1>;
					#size-cells = <1>;
					reg = <0>;
					spi-max-frequency = <50000000>;
				};
			};
		};
	};
};

&sleep_clk {
	clock-frequency = <32000>;
};

&xo {
	clock-frequency = <24000000>;
};

&ref_48mhz_clk {
	clock-div = <1>;
	clock-mult = <1>;
};

&xo_clk {
	clock-frequency = <48000000>;
};

&qpic_bam {
	status = "okay";
};

&qpic_nand {
	pinctrl-0 = <&qspi_default_state>;
	pinctrl-names = "default";
	status = "okay";
};

&tlmm {
	qspi_default_state: qspi-default-state {
		qspi_clock {
			pins = "gpio5";
			function = "qspi_clk";
			drive-strength = <8>;
			bias-pull-down;
		};

		qspi_cs {
			pins = "gpio4";
			function = "qspi_cs_n";
			drive-strength = <8>;
			bias-pull-up;
		};

		qspi_data {
			pins = "gpio0", "gpio1", "gpio2", "gpio3";
			function = "qspi_data";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	qup_spi0_default: qup-spi0-default-state {
		qup_spi0_clk {
			pins = "gpio6";
			function = "qup_se0_l2";
			drive-strength = <8>;
			bias-pull-down;
		};

		qup_spi0_cs {
			pins = "gpio7";
			function = "qup_se0_l3";
			drive-strength = <8>;
			bias-pull-up;
		};

		qup_spi0_miso {
			pins = "gpio8";
			function = "qup_se0_l0";
			drive-strength = <8>;
			bias-pull-down;
		};

		qup_spi0_mosi {
			pins = "gpio9";
			function = "qup_se0_l1";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	qup_uart1_default: qup-uart1-default-state {
		qup_uart1_tx {
			pins = "gpio39";
			function = "qup_se1_l2";
			drive-strength = <6>;
			bias-pull-down;
		};

		qup_uart1_rx {
			pins = "gpio38";
			function = "qup_se1_l3";
			drive-strength = <6>;
			bias-pull-down;
		};
	};
};
