// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ5332 RDP442 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) 2022-2023 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;

#include "ipq5332.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Qualcomm Technologies, Inc. IPQ5332/RDP442/MI01.3";
	compatible = "qcom,ipq5332-ap-mi01.3", "qcom,ipq5332-rdp442", "qcom,ipq5332";

	aliases {
		serial0 = &blsp1_uart0;
		serial1 = &blsp1_uart1;
	};

	chosen {
		stdout-path = "serial0";
	};

	soc@0 {
		leds {
			compatible = "gpio-leds";
			pinctrl-0 = <&leds_pins>;
			pinctrl-names = "default";
			led@36 {
				gpios = <&tlmm 36 GPIO_ACTIVE_HIGH>;
				linux,default-trigger = "led_2g";
				default-state = "off";
			};
		};

		gpio_keys {
			compatible = "gpio-keys";
			pinctrl-0 = <&button_pins>;
			pinctrl-names = "default";
			status = "okay";

			button@1 {
				label = "wps";
				linux,code = <KEY_WPS_BUTTON>;
				gpios = <&tlmm 35 GPIO_ACTIVE_LOW>;
				linux,input-type = <1>;
				debounce-interval = <60>;
			};
		};

		q6v5_wcss: remoteproc@d100000 {
			boot-args = <0x1 0x4 0x3 0x0 0x26 0x2>,
					<0x1 0x4 0x4 0x1 0x2f 0x2>;

			/delete-node/ remoteproc_pd1;
			/delete-node/ remoteproc_pd2;
			/delete-node/ remoteproc_pd3;

			q6_wcss_pd4: remoteproc_pd4 {
				compatible = "qcom,ipq5332-mpd-upd-text";
				firmware = "IPQ5332/q6_fw4.mdt";

				q6_wcss_pd1: remoteproc_pd1 {
					compatible = "qcom,ipq5332-wcss-ahb-mpd";
					firmware = "IPQ5332/q6_fw1.mdt";
					m3_firmware = "IPQ5332/iu_fw.mdt";
					interrupts-extended = <&wcss_smp2p_in 8 0>,
							<&wcss_smp2p_in 9 0>,
							<&wcss_smp2p_in 12 0>,
							<&wcss_smp2p_in 11 0>;
					interrupt-names = "fatal",
							"ready",
							"spawn-ack",
							"stop-ack";

					qcom,smem-states = <&wcss_smp2p_out 8>,
							<&wcss_smp2p_out 9>,
							<&wcss_smp2p_out 10>;
					qcom,smem-state-names = "shutdown",
								"stop",
								"spawn";
				};

				q6_wcss_pd2: remoteproc_pd2 {
					compatible = "qcom,ipq5332-wcss-pcie-mpd";
					firmware = "IPQ5332/q6_fw2.mdt";
					m3_firmware = "qcn6432/iu_fw.mdt";
					interrupts-extended = <&wcss_smp2p_in 16 0>,
							<&wcss_smp2p_in 17 0>,
							<&wcss_smp2p_in 20 0>,
							<&wcss_smp2p_in 19 0>;
					interrupt-names = "fatal",
							"ready",
							"spawn-ack",
							"stop-ack";

					qcom,smem-states = <&wcss_smp2p_out 16>,
							<&wcss_smp2p_out 17>,
							<&wcss_smp2p_out 18>;
					qcom,smem-state-names = "shutdown",
								"stop",
								"spawn";
					status = "ok";
				};

				q6_wcss_pd3: remoteproc_pd3 {
					compatible = "qcom,ipq5332-wcss-pcie-mpd";
					firmware = "IPQ5332/q6_fw3.mdt";
					interrupts-extended = <&wcss_smp2p_in 24 0>,
							<&wcss_smp2p_in 25 0>,
							<&wcss_smp2p_in 28 0>,
							<&wcss_smp2p_in 27 0>;
					interrupt-names = "fatal",
							"ready",
							"spawn-ack",
							"stop-ack";

					qcom,smem-states = <&wcss_smp2p_out 24>,
							<&wcss_smp2p_out 25>,
							<&wcss_smp2p_out 26>;
					qcom,smem-state-names = "shutdown",
								"stop",
								"spawn";
					status = "ok";
				};
			};
		};
	};
};

&blsp1_uart0 {
	pinctrl-0 = <&serial_0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&blsp1_uart1 {
        pinctrl-0 = <&serial_1_pins>;
        pinctrl-names = "default";
        status = "disabled";
};

&blsp1_i2c1 {
	clock-frequency  = <400000>;
	pinctrl-0 = <&i2c_1_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&blsp1_spi0 {
	pinctrl-0 = <&spi_0_data_clk_pins &spi_0_cs_pins>;
	pinctrl-names = "default";
	status = "okay";

	flash@0 {
		compatible = "micron,n25q128a11", "jedec,spi-nor";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <50000000>;
	};
};

&sdhc {
	bus-width = <4>;
	max-frequency = <192000000>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	non-removable;
	pinctrl-0 = <&sdc_default_state>;
	pinctrl-names = "default";
	status = "disabled";
};

&sleep_clk {
	clock-frequency = <32000>;
};

&xo_board {
	clock-frequency = <24000000>;
};

&qpic_bam {
	status = "okay";
};

&qpic_nand {
	pinctrl-0 = <&qspi_default_state>;
	pinctrl-names = "default";
	status = "okay";

	nandcs@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;

		nand-ecc-strength = <8>;
		nand-ecc-step-size = <512>;
		nand-bus-width = <8>;
	};
};

/* PINCTRL */

&tlmm {
	qspi_default_state: qspi-default-state {
		qspi_clock {
			pins = "gpio13";
			function = "qspi_clk";
			drive-strength = <8>;
			bias-pull-down;
		};

		qspi_cs {
			pins = "gpio12";
			function = "qspi_cs";
			drive-strength = <8>;
			bias-pull-up;
		};

		qspi_data {
			pins = "gpio8", "gpio9", "gpio10", "gpio11";
			function = "qspi_data";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	serial_1_pins: serial1-pinmux {
		pins = "gpio33", "gpio34", "gpio35", "gpio36";
		function = "blsp1_uart2";
		drive-strength = <8>;
		bias-pull-up;
	};

	i2c_1_pins: i2c-1-state {
		pins = "gpio29", "gpio30";
		function = "blsp1_i2c0";
		drive-strength = <8>;
		bias-pull-up;
	};

	leds_pins: leds-state {
		pins = "gpio36";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-down;
	};

	button_pins: button-state {
		pins = "gpio35";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-up;
	};

	sdc_default_state: sdc-default-state {
		clk-pins {
			pins = "gpio13";
			function = "sdc_clk";
			drive-strength = <8>;
			bias-disable;
		};

		cmd-pins {
			pins = "gpio12";
			function = "sdc_cmd";
			drive-strength = <8>;
			bias-pull-up;
		};

		data-pins {
			pins = "gpio8", "gpio9", "gpio10", "gpio11";
			function = "sdc_data";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	spi_0_data_clk_pins: spi-0-data-clk-state {
		pins = "gpio14", "gpio15", "gpio16";
		function = "blsp0_spi";
		drive-strength = <2>;
		bias-pull-down;
	};

	spi_0_cs_pins: spi-0-cs-state {
		pins = "gpio17";
		function = "blsp0_spi";
		drive-strength = <2>;
		bias-pull-up;
	};
};

&usb3 {
	qcom,select-utmi-as-pipe-clk;
	status = "okay";

	dwc3@8A00000 {
		/delete-property/ #phy-cells;
		/delete-property/ phys;
		/delete-property/ phy-names;
	};
};

&hs_m31phy_0 {
	status = "okay";
};
