// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ9574 RDP458 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) 2022-2023 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "ipq9574-qcn9224-default-memory.dtsi"
#include "ipq9574.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ9574/RDP458/AP-AL03-C2";
	compatible = "qcom,ipq9574-ap-al03-c2", "qcom,ipq9574-rdp458", "qcom,ipq9574";

	aliases {
		serial0 = &blsp1_uart2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&pcie0_x1 {
	pinctrl-0 = <&pci0_pin>;
	pinctrl-names = "default";
	perst-gpio = <&tlmm 23 GPIO_ACTIVE_LOW>;
	status = "okay";

	pcie0_rp {
		reg = <0 0 0 0 0>;
	};
};

&pcie0_phy {
	status = "okay";
};

&pcie2_x2 {
	pinctrl-0 = <&pci2_pin>;
	pinctrl-names = "default";
	perst-gpio = <&tlmm 29 GPIO_ACTIVE_LOW>;
	status = "okay";

	pcie2_rp {
		reg = <0 0 0 0 0>;
	};
};

&pcie2_phy {
	status = "okay";
};

&qusb_phy_0 {
	status = "okay";
};

&blsp1_spi0 { /* BLSP1 QUP0 */
	pinctrl-0 = <&spi_0_pins>;
	pinctrl-names = "default";
	cs-select = <0>;
	status = "okay";

	flash@0 {
		compatible = "micron,n25q128a11", "jedec,spi-nor";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <50000000>;
	};
};

&blsp1_i2c3 {
	pinctrl-0 = <&i2c_3_pins>;
	pinctrl-names = "default";
	status = "okay";

	bmp390@77 {
		compatible = "bosch,bmp390";
		reg = <0x77>;
	};
};

&blsp1_uart2 {
	pinctrl-0 = <&uart2_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&qpic_bam {
	status = "okay";
};

&qpic_nand {
	pinctrl-0 = <&qspi_nand_pins>;
	pinctrl-names = "default";
	status = "okay";

	nand@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		nand-ecc-strength = <4>;
		nand-ecc-step-size = <512>;
		nand-bus-width = <8>;
	};
};

&sleep_clk {
	clock-frequency = <32000>;
};

&ssphy_0 {
	status = "okay";
};

&rpm_requests {
	regulators {
		compatible = "qcom,rpm-mp5496-regulators";

		ipq9574_s1: s1 {
		 /*
		 * During kernel bootup, the SoC runs at 800MHz with 875mV set by the bootloaders.
		 * During regulator registration, kernel not knowing the initial voltage,
		 * considers it as zero and brings up the regulators with minimum supported voltage.
		 * Updating the regulator-min-microvolt with SVS voltage of 725000uV so that
		 * the regulators are brought up with 725000uV which is sufficient for all the
		 * corner parts to operate at 800MHz
		 */
			regulator-min-microvolt = <725000>;
			regulator-max-microvolt = <1075000>;
		};
	};
};

&tlmm {
	pci0_pin: pci0-default-state {
		pins = "gpio23";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-up;
		output-low;
	};

	pci2_pin: pci2-default-state {
		pins = "gpio29";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-down;
		output-low;
	};

	i2c_3_pins: i2c-3-pins {
		pins = "gpio15", "gpio16";
		function = "blsp3_i2c";
		drive-strength = <8>;
		bias-disable;
	};

	spi_0_pins: spi-0-pins {
		pins = "gpio11", "gpio12", "gpio13", "gpio14";
		function = "blsp0_spi";
		drive-strength = <8>;
		bias-disable;
	};

	qspi_nand_pins: qspi_nand_pins {
		qspi_clock {
			pins = "gpio5";
			function = "qspi_clk";
			drive-strength = <8>;
			bias-disable;
		};

		qspi_cs {
			pins = "gpio4";
			function = "qspi_cs";
			drive-strength = <8>;
			bias-disable;
		};

		qspi_data {
			pins = "gpio0", "gpio1", "gpio2", "gpio3";
			function = "qspi_data";
			drive-strength = <8>;
			bias-disable;
		};
	};
};

&usb3 {
	status = "okay";
};

&xo_board_clk {
	clock-frequency = <24000000>;
};

&mdio {
	status = "ok";
	pinctrl-0 = <&mdio_pins>;
	pinctrl-names = "default";
	/*gpio60 for manhattan reset*/
	phy-reset-gpio = <&tlmm 60 GPIO_ACTIVE_LOW>;
	phyaddr_fixup = <0xC90F018>;
	uniphyaddr_fixup = <0xC90F014>;
	mdio_clk_fixup; /* MDIO clock sequence fix up flag */

	phy0: ethernet-phy@0 {
		      reg = <1>;
		      fixup;
	      };
	phy1: ethernet-phy@1 {
		      reg = <2>;
		      fixup;
	      };
	phy2: ethernet-phy@2 {
		      reg = <3>;
		      fixup;
	      };
	phy3: ethernet-phy@3 {
		      reg = <4>;
		      fixup;
	      };
	phy4: ethernet-phy@4 {
		      compatible ="ethernet-phy-ieee802.3-c45";
		      reg = <0>;
	      };
};

&ess_switch {
	switch_cpu_bmp = <0x1>;  /* cpu port bitmap */
	switch_lan_bmp = <0x1e>; /* lan port bitmap */
	switch_wan_bmp = <0x40>; /* wan port bitmap */
	switch_mac_mode = <0x15>; /* mac mode for uniphy instance0*/
	switch_mac_mode1 = <0xff>; /* mac mode for uniphy instance1*/
	switch_mac_mode2 = <0xd>; /* mac mode for uniphy instance2*/
	bm_tick_mode = <0>; /* bm tick mode */
	tm_tick_mode = <1>; /* tm tick mode */
	cmnblk_clk = "internal_96MHz"; /* cmnblk clk*/
	qcom,port_phyinfo {
		port@0 {
			port_id = <1>;
			phy_address = <1>;
		};
		port@1 {
			port_id = <2>;
			phy_address = <2>;
		};
		port@2 {
			port_id = <3>;
			phy_address = <3>;
		};
		port@3 {
			port_id = <4>;
			phy_address = <4>;
		};
		port@4 {
			port_id = <6>;
			phy_address = <0>;
			ethernet-phy-ieee802.3-c45;
		};
	};

	led_source@0 {
		source = <0>;
		mode = "normal";
		speed = "all";
		blink_en = "enable";
		active = "high";
	};
	led_source@3 {
		source = <3>;
		mode = "normal";
		speed = "all";
		blink_en = "enable";
		active = "high";
	};
	led_source@6 {
		source = <6>;
		mode = "normal";
		speed = "all";
		blink_en = "enable";
		active = "high";
	};
	led_source@9 {
		source = <9>;
		mode = "normal";
		speed = "all";
		blink_en = "enable";
		active = "high";
	};
};
