// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ9650 RDP489 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "ipq9650-rdp-common.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ9650 RDP489";
	compatible = "qcom,ipq9650-rdp489", "qcom,ipq9650";

	aliases {
		ethernet0 = "/soc/dp1";
		ethernet1 = "/soc/dp2";
		ethernet2 = "/soc/dp3";
		ethernet3 = "/soc/dp4";
		ethernet4 = "/soc/dp5";
		ethernet5 = "/soc/dp6";
	};

	soc@0 {
		qupv3: geniqup@1ac0000 {
			status = "okay";

			spi0: spi@1a80000 {
				pinctrl-0 = <&qup_spi0_default>;
				pinctrl-names = "default";
				status = "disabled";

				flash@0 {
					compatible = "spansion,s25fs128s1", "jedec,spi-nor";
					#address-cells = <1>;
					#size-cells = <1>;
					reg = <0>;
					spi-max-frequency = <50000000>;
				};
			};
		};

		dp1 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			qcom,id = <1>;
			reg = <0x2a500000 0x4000>;
			qcom,mactype = <1>;
			local-mac-address = [000000000000];
			qcom,ppe-offload-disabled = <0>;
		};

		dp2 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			qcom,id = <2>;
			reg = <0x2a504000 0x4000>;
			qcom,mactype = <1>;
			local-mac-address = [000000000000];
			qcom,ppe-offload-disabled = <0>;
		};

		dp3 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			qcom,id = <3>;
			reg = <0x2a508000 0x4000>;
			qcom,mactype = <1>;
			local-mac-address = [000000000000];
			qcom,ppe-offload-disabled = <0>;
		};

		dp4 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			qcom,id = <4>;
			reg = <0x2a50c000 0x4000>;
			qcom,mactype = <1>;
			local-mac-address = [000000000000];
			qcom,ppe-offload-disabled = <0>;
		};

		dp5 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			qcom,id = <5>;
			reg = <0x2a510000 0x4000>;
			qcom,mactype = <1>;
			local-mac-address = [000000000000];
			qcom,ppe-offload-disabled = <0>;
		};

		dp6 {
			device_type = "network";
			compatible = "qcom,nss-dp";
			qcom,id = <6>;
			reg = <0x2a514000 0x4000>;
			qcom,mactype = <1>;
			local-mac-address = [000000000000];
			qcom,ppe-offload-disabled = <0>;
		};

		efuse@a4000 {
			apc_turl1_fuse: apc_turl1_fuse@3fc {
				reg = <0x3fc 0x2>;
				bits = <3 7>;
			};

			apc_nom_fuse: apc_nom_fuse@3fd {
				reg = <0x3fd 0x2>;
				bits = <2 7>;
			};

			apc_svs_fuse: apc_svs_fuse@3fe {
				reg = <0x3fe 0x1>;
				bits = <1 7>;
			};

			nsp_cx_nom_fuse: nsp_cx_nom_fuse@403 {
				reg = <0x403 0x2>;
				bits = <6 7>;
			};

			nsp_cx_svs_fuse: nsp_cx_svs_fuse@406 {
				reg = <0x406 0x2>;
				bits = <2 7>;
			};

			nsp_mx_nom_fuse: nsp_mx_nom_fuse@40b {
				reg = <0x40b 0x2>;
				bits = <6 7>;
			};
		};

		apc_rail: apc-gpio-regulator {
			compatible = "regulator-gpio";
			regulator-name = "vdd-apc";
			regulator-type = "voltage";
			regulator-boot-on;
			regulator-always-on;
			regulator-min-microvolt = <600000>;
			regulator-max-microvolt = <957000>;
			regulator-ramp-delay = <250>; /* 20ms */
			gpios = <&tlmm 33 GPIO_ACTIVE_HIGH>,
				<&tlmm 34 GPIO_ACTIVE_HIGH>,
				<&tlmm 35 GPIO_ACTIVE_HIGH>;
			gpios-states = <0x7>;
			states = <600000 0x0>,
				 <660000 0x1>,
				 <740000 0x2>,
				 <804000 0x3>,
				 <753000 0x4>,
				 <815000 0x5>,
				 <895000 0x6>,
				 <957000 0x7>;
			status = "disabled";
		};

		qcom,gpio-regulator {
			compatible = "qcom,ipq9650-gpio-regulator";
			reg = <0xa4000 0x739>;
			reg-names = "fuse_base";
			apc-supply = <&apc_rail>;
			nvmem-cells = <&apc_nom_fuse>;
			nvmem-cell-names = "cpr_apc_nom";
			status = "disabled";

			apc: apc {
				regulator-min-microvolt = <600000>;
				regulator-max-microvolt = <957000>;
				regulator-boot-on;
				regulator-always-on;
			};
		};
	};
};

&mdio {
	phy-reset-gpio = <&tlmm 18 GPIO_ACTIVE_LOW>, /* Reset for UNIPHY0 QCE1204. */
			 <&tlmm 25 GPIO_ACTIVE_LOW>, /* Reset for UNIPHY1 QCA81XXs. */
			 <&tlmm 26 GPIO_ACTIVE_LOW>; /* Reset for UNIPHY2 QCA81XXs. */

	phy4: ethernet-phy@8 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <8>;
	};

	phy5: ethernet-phy@c {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <12>;
	};
};

&ess_switch {
	switch_mac_mode1 = <0xd>; /* mac mode for uniphy instance1 */
	switch_mac_mode2 = <0xd>; /* mac mode for uniphy instance2 */

	qcom,port_phyinfo {
		port@4 {
			port_id = <5>;
			phy_address = <8>;
			phy-handle = <&phy4>;
			phy-mode = "usxgmii";
			ethernet-phy-ieee802.3-c45;
		};

		port@5 {
			port_id = <6>;
			phy_address = <12>;
			phy-handle = <&phy5>;
			phy-mode = "usxgmii";
			ethernet-phy-ieee802.3-c45;
		};
	};
};

&qpic_bam {
	status = "disabled";
};

&qpic_nand {
	status = "disabled";
};

&pcie1_phy {
	status = "disabled";
};

&pcie1 {
	perst-gpio = <&tlmm 28 GPIO_ACTIVE_LOW>;
	status = "disabled";

	pcie1_rp {
		reg = <0 0 0 0 0>;

		qcom,mhi@0 {
			reg = <0 0 0 0 0>;
		};
	};
};

&pcie2_phy {
	status = "disabled";
};

&pcie2 {
	perst-gpio = <&tlmm 52 GPIO_ACTIVE_LOW>;
	status = "disabled";

	pcie2_rp {
		reg = <0 0 0 0 0>;

		qcom,mhi@0 {
			reg = <0 0 0 0 0>;
		};
	};
};

&pcie3_phy {
	status = "disabled";
};

&pcie3 {
	perst-gpio = <&tlmm 41 GPIO_ACTIVE_LOW>;
	status = "disabled";

	pcie3_rp {
		reg = <0 0 0 0 0>;

		qcom,mhi@0 {
			reg = <0 0 0 0 0>;
		};
	};
};

&qusb_phy_1 {
	status = "disabled";
};

&usb2 {
	status = "disabled";
};

&qusb_phy_0 {
	status = "disabled";
};

&ssphy_0 {
	status = "disabled";
};

&usb3 {
	status = "disabled";
};

&tlmm {
	pcie0_default_state: pcie0-default-state {
		perst-n-pins {
			pins = "gpio25";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
			output-low;
		};
	};

	pcie1_default_state: pcie1-default-state {
		perst-n-pins {
			pins = "gpio28";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
			output-low;
		};
	};

	pcie2_default_state: pcie2-default-state {
		perst-n-pins {
			pins = "gpio52";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
			output-low;
		};
	};

	pcie3_default_state: pcie3-default-state {
		perst-n-pins {
			pins = "gpio41";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-up;
			output-low;
		};
	};

	pcie4_default_state: pcie4-default-state {
		perst-n-pins {
			pins = "gpio31";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
			output-low;
		};
	};
};

&CPU0 {
	cpu-supply = <&apc>;
	/delete-property/ cpu-supply;
};

&CPU1 {
	cpu-supply = <&apc>;
	/delete-property/ cpu-supply;
};

&CPU2 {
	cpu-supply = <&apc>;
	/delete-property/ cpu-supply;
};

&CPU3 {
	cpu-supply = <&apc>;
	/delete-property/ cpu-supply;
};

&CPU4 {
	cpu-supply = <&apc>;
	/delete-property/ cpu-supply;
};
