// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ9650 DB JU01 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "ipq9650-rdp-common.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ9650 DB JU01";
	compatible = "qcom,ipq9650-db-ju01", "qcom,ipq9650";

	soc@0 {
		qupv3: geniqup@1ac0000 {
			status = "okay";

			spi0: spi@1a80000 {
				pinctrl-0 = <&qup_spi0_default>;
				pinctrl-names = "default";
				status = "disabled";

				flash@0 {
					compatible = "spansion,s25fs128s1", "jedec,spi-nor";
					#address-cells = <1>;
					#size-cells = <1>;
					reg = <0>;
					spi-max-frequency = <50000000>;
				};
			};

			i2c0: i2c@1a88000 {
				pinctrl-0 = <&qup_i2c0_default>;
				pinctrl-names = "default";
				status = "disabled";
			};

			i2c1: i2c@1a8c000 {
				pinctrl-0 = <&qup_i2c1_default>;
				pinctrl-names = "default";
				status = "disabled";
			};
		};
	};
};

&mdio {
	phy-reset-gpio = <&tlmm 18 GPIO_ACTIVE_LOW>, /* Reset for QCE1204. */
			 <&tlmm 14 GPIO_ACTIVE_LOW>, /* Reset for UNIPHY1 QCA81XXs. */
			 <&tlmm 15 GPIO_ACTIVE_LOW>; /* Reset for UNIPHY2 QCA81XXs. */

	phy4: ethernet-phy@8 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <8>;
	};

	phy5: ethernet-phy@c {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <12>;
	};
};

&ess_switch {
	switch_mac_mode1 = <0xd>; /* mac mode for uniphy instance1 */
	switch_mac_mode2 = <0xd>; /* mac mode for uniphy instance2 */

	qcom,port_phyinfo {
		port@4 {
			port_id = <5>;
			phy_address = <8>;
			phy-handle = <&phy4>;
			phy-mode = "usxgmii";
			ethernet-phy-ieee802.3-c45;
		};

		port@5 {
			port_id = <6>;
			phy_address = <12>;
			phy-handle = <&phy5>;
			phy-mode = "usxgmii";
			ethernet-phy-ieee802.3-c45;
		};
	};
};

&qpic_bam {
	status = "disabled";
};

&qpic_nand {
	status = "disabled";
};

&sdhc {
	max-frequency = <192000000>;
	bus-width = <4>;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	non-removable;
	pinctrl-0 = <&sdc_default_state>;
	pinctrl-names = "default";
};

&pcie1_phy {
	status = "disabled";
};

&pcie1 {
	perst-gpio = <&tlmm 28 GPIO_ACTIVE_LOW>;
	status = "disabled";

	pcie1_rp {
		reg = <0 0 0 0 0>;

		qcom,mhi@0 {
			reg = <0 0 0 0 0>;
		};
	};
};

&pcie2_phy {
	status = "disabled";
};

&pcie2 {
	perst-gpio = <&tlmm 52 GPIO_ACTIVE_LOW>;
	status = "disabled";

	pcie2_rp {
		reg = <0 0 0 0 0>;

		qcom,mhi@0 {
			reg = <0 0 0 0 0>;
		};
	};
};

&pcie3_phy {
	status = "disabled";
};

&pcie3 {
	perst-gpio = <&tlmm 41 GPIO_ACTIVE_LOW>;
	status = "disabled";

	pcie3_rp {
		reg = <0 0 0 0 0>;

		qcom,mhi@0 {
			reg = <0 0 0 0 0>;
		};
	};
};

&qusb_phy_1 {
	status = "disabled";
};

&usb2 {
	status = "disabled";
};

&qusb_phy_0 {
	status = "disabled";
};

&ssphy_0 {
	status = "disabled";
};

&usb3 {
	status = "disabled";
};

&tlmm {
	qup_i2c0_default: qup-i2c0-default-state {
		qup_i2c0_scl {
			pins = "gpio33";
			function = "qup_se2_l1";
			drive-strength = <8>;
			bias-pull-up;
		};
		qup_i2c0_sda {
			pins = "gpio34";
			function = "qup_se2_l0";
			drive-strength = <8>;
			bias-pull-up;
		};
	};

	pcie0_default_state: pcie0-default-state {
		perst-n-pins {
			pins = "gpio25";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
			output-low;
		};
	};

	pcie1_default_state: pcie1-default-state {
		perst-n-pins {
			pins = "gpio28";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
			output-low;
		};
	};

	pcie2_default_state: pcie2-default-state {
		perst-n-pins {
			pins = "gpio52";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
			output-low;
		};
	};

	pcie3_default_state: pcie3-default-state {
		perst-n-pins {
			pins = "gpio41";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
			output-low;
		};
	};

	pcie4_default_state: pcie4-default-state {
		perst-n-pins {
			pins = "gpio31";
			function = "gpio";
			drive-strength = <8>;
			bias-pull-down;
			output-low;
		};
	};

	sdc_default_state: sdc-default-state {
		clk-pins {
			pins = "gpio5";
			function = "sdc_clk";
			drive-strength = <8>;
			bias-disable;
		};

		cmd-pins {
			pins = "gpio4";
			function = "sdc_cmd";
			drive-strength = <8>;
			bias-pull-up;
		};

		data-pins {
			pins = "gpio0", "gpio1", "gpio2", "gpio3";
			function = "sdc_data";
			drive-strength = <8>;
			bias-pull-up;
		};
	};
};
