// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * IPQ9574 AL02-C4 board device tree source
 *
 * Copyright (c) 2020-2021 The Linux Foundation. All rights reserved.
 * Copyright (c) 2021-2023 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include "ipq9574.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. IPQ9574/AP-AL02-C4";
	compatible = "qcom,ipq9574-ap-al02-c4", "qcom,ipq9574";

	aliases {
		serial0 = &blsp1_uart2;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	soc@0 {
		mdio@90000 {
			pinctrl-0 = <&mdio_pins>;
			pinctrl-names = "default";
			/*gpio60 for malibu reset, gpio36 for both aqr reset reserved */
			phy-reset-gpio = <&tlmm 60 GPIO_ACTIVE_LOW>;
			status = "okay";

			phy0: ethernet-phy@0 {
				reg = <16>;
			};
			phy1: ethernet-phy@1 {
				reg = <17>;
			};
			phy2: ethernet-phy@2 {
				reg = <18>;
			};
			phy3: ethernet-phy@3 {
				reg = <19>;
			};
			phy4: ethernet-phy@4 {
				compatible ="ethernet-phy-ieee802.3-c45";
				reg = <8>;
			};
			phy5: ethernet-phy@5 {
				compatible ="ethernet-phy-ieee802.3-c45";
				reg = <0>;
			};
		};

		ess-instance {
			num_devices = <0x1>;
			ess-switch@3a000000 {
				switch_cpu_bmp = <0x1>;  /* cpu port bitmap */
				switch_lan_bmp = <0x3e>; /* lan port bitmap */
				switch_wan_bmp = <0x40>; /* wan port bitmap */
				switch_mac_mode = <0x0>; /* mac mode for uniphy instance0*/
				switch_mac_mode1 = <0xd>; /* mac mode for uniphy instance1*/
				switch_mac_mode2 = <0xd>; /* mac mode for uniphy instance2*/
				bm_tick_mode = <0>; /* bm tick mode */
				tm_tick_mode = <0>; /* tm tick mode */

				qcom,port_phyinfo {
					port@0 {
						port_id = <1>;
						phy_address = <16>;
					};
					port@1 {
						port_id = <2>;
						phy_address = <17>;
					};
					port@2 {
						port_id = <3>;
						phy_address = <18>;
					};
					port@3 {
						port_id = <4>;
						phy_address = <19>;
					};
					port@4 {
						port_id = <5>;
						phy_address = <8>;
						ethernet-phy-ieee802.3-c45;
					};
					port@5 {
						port_id = <6>;
						phy_address = <0>;
						ethernet-phy-ieee802.3-c45;
					};
				};

			};
		};
	};
};

&blsp1_uart2 {
	pinctrl-0 = <&uart2_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&pcie1_phy {
	status = "okay";
};

&pcie1_x1 {
	perst-gpios = <&tlmm 26 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pcie2_phy {
	status = "okay";
};

&pcie2_x2 {
	perst-gpios = <&tlmm 29 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pcie3_phy {
	status = "okay";
};

&pcie3_x2 {
	perst-gpios = <&tlmm 32 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&qpic_bam {
	status = "ok";
};

&qpic_nand {
	status = "ok";
	pinctrl-0 = <&qspi_nand_pins>;
	pinctrl-names = "default";
	qcom,io_macro_max_clk = <320000000>;
	qcom,io_macro_clk_rates = <24000000 100000000 200000000 \
				   320000000>;
	nand@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		nand-ecc-strength = <4>;
		nand-ecc-step-size = <512>;
		nand-bus-width = <8>;
	};
};

&qusb_phy_0 {
	status = "okay";
};

&blsp1_spi0 {
	pinctrl-0 = <&spi_0_pins>;
	pinctrl-names = "default";
	status = "okay";

	flash@0 {
		compatible = "micron,n25q128a11", "jedec,spi-nor";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <50000000>;
	};
};

&sdhc_1 {
	pinctrl-0 = <&sdc_default_state>;
	pinctrl-names = "default";
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	max-frequency = <384000000>;
	bus-width = <8>;
	status = "disabled";
};

&blsp1_i2c3 {
	pinctrl-0 = <&i2c_3_pins>;
	pinctrl-names = "default";
	status = "okay";

	bmp390@77 {
		compatible = "bosch,bmp390";
		reg = <0x77>;
	};
};

&sleep_clk {
	clock-frequency = <32000>;
};

&ssphy_0 {
	status = "okay";
};

&rpm_requests {
	regulators {
		compatible = "qcom,rpm-mp5496-regulators";

		ipq9574_s1: s1 {
		/*
		 * During kernel bootup, the SoC runs at 800MHz with 875mV set by the bootloaders.
		 * During regulator registration, kernel not knowing the initial voltage,
		 * considers it as zero and brings up the regulators with minimum supported voltage.
		 * Updating the regulator-min-microvolt with SVS voltage of 725000uV so that
		 * the regulators are brought up with 725000uV which is sufficient for all the
		 * corner parts to operate at 800MHz
		 */
			regulator-min-microvolt = <725000>;
			regulator-max-microvolt = <1075000>;
		};
	};
};

&tlmm {
	qspi_nand_pins: qspi_nand_pins {
		qspi_clock {
			pins = "gpio5";
			function = "qspi_clk";
			drive-strength = <8>;
			bias-disable;
		};

		qspi_cs {
			pins = "gpio4";
			function = "qspi_cs";
			drive-strength = <8>;
			bias-disable;
		};

		qspi_data {
			pins = "gpio0", "gpio1", "gpio2", "gpio3";
			function = "qspi_data";
			drive-strength = <8>;
			bias-disable;
		};
	};

	i2c_3_pins: i2c-3-pins {
		pins = "gpio15", "gpio16";
		function = "blsp3_i2c";
		drive-strength = <8>;
		bias-disable;
	};

	sdc_default_state: sdc-default-state {
		clk-pins {
			pins = "gpio5";
			function = "sdc_clk";
			drive-strength = <8>;
			bias-disable;
		};

		cmd-pins {
			pins = "gpio4";
			function = "sdc_cmd";
			drive-strength = <8>;
			bias-pull-up;
		};

		data-pins {
			pins = "gpio0", "gpio1", "gpio2",
			       "gpio3", "gpio6", "gpio7",
			       "gpio8", "gpio9";
			function = "sdc_data";
			drive-strength = <8>;
			bias-pull-up;
		};

		rclk-pins {
			pins = "gpio10";
			function = "sdc_rclk";
			drive-strength = <8>;
			bias-pull-down;
		};
	};

	spi_0_pins: spi-0-state {
		pins = "gpio11", "gpio12", "gpio13", "gpio14";
		function = "blsp0_spi";
		drive-strength = <8>;
		bias-disable;
	};

	mdio_pins: mdio-state {
		mux_0 {
			pins = "gpio38";
			function = "mdc";
			drive-strength = <8>;
			bias-disable;
		};
		mux_1 {
			pins = "gpio39";
			function = "mdio";
			drive-strength = <8>;
			bias-pull-up;
		};
	};
};

&usb3 {
	status = "okay";
};

&xo_board_clk {
	clock-frequency = <24000000>;
};

